:root {
  color-scheme: dark light;

  --table-row-odd-background-color: #eee;
  --table-row-even-background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --table-row-odd-background-color: #333;
    --table-row-even-background-color: #222;
  }
}

body {
  font-family: system-ui, sans-serif;
}

code {
  font-family: ui-monospace, monospace;
  color: hotpink;
}

th {
  text-align: left;
}

td {
  margin: .5rem;
  padding: .5rem;
}

tbody > tr:nth-child(even) {
  background-color: var(--table-row-even-background-color);
}

tbody tr:nth-child(odd) {
  background-color: var(--table-row-odd-background-color);
}

.file-name:before {
  background-image: url('/wasm-icon.svg');
  background-size: 1rem 1rem;
  display: inline-block;
  content:"";
  content: url();
  width: 1rem;
  height: 1rem;
  margin-inline-end: .5rem;
}

td {
  min-width: 5rem;
}

.file-name {
  min-width: 20rem;
  display: inline-block;
}

#drop-area {
  width: 80dvw;
  height: 50dvh;
  outline: solid 5px Highlight;
  outline-offset: -5px;
  padding: 10px;
  margin-block: 1rem;
}

.size-smaller {
  color: green;
}

.size-larger {
  color: red;
}
